[submodule "mavlink/include/mavlink/v2.0"]
	path = mavlink/include/mavlink/v2.0
	url = git@github.com:sritank/c_library_v2.git
	branch = master
[submodule "src/drivers/uavcan/libuavcan"]
	path = src/drivers/uavcan/libuavcan
	url = git@github.com:sritank/libuavcan.git
	branch = px4
[submodule "src/lib/ecl"]
	path = src/lib/ecl
	url = git@github.com:sritank/ecl.git
	branch = master
[submodule "boards/atlflight/cmake_hexagon"]
	path = boards/atlflight/cmake_hexagon
	url = git@github.com:sritank/cmake_hexagon.git
	branch = px4
[submodule "platforms/qurt/dspal"]
	path = platforms/qurt/dspal
	url = git@github.com:sritank/dspal.git
[submodule "Tools/jMAVSim"]
	path = Tools/jMAVSim
	url = git@github.com:sritank/jMAVSim.git
	branch = master
[submodule "src/drivers/gps/devices"]
	path = src/drivers/gps/devices
	url = git@github.com:sritank/GpsDrivers.git
	branch = master
[submodule "src/lib/matrix"]
	path = src/lib/matrix
	url = git@github.com:sritank/Matrix.git
	branch = master
[submodule "platforms/nuttx/NuttX/nuttx"]
	path = platforms/nuttx/NuttX/nuttx
	url = git@github.com:sritank/NuttX.git
	branch = master
[submodule "platforms/nuttx/NuttX/apps"]
	path = platforms/nuttx/NuttX/apps
	url = git@github.com:sritank/NuttX-apps.git
	branch = master
[submodule "cmake/configs/uavcan_board_ident"]
	path = cmake/configs/uavcan_board_ident
	url = git@github.com:sritank/uavcan_board_ident.git
	branch = master
[submodule "src/modules/micrortps_bridge/micro-CDR"]
	path = src/modules/micrortps_bridge/micro-CDR
	url = git@github.com:sritank/Micro-CDR.git
	branch = master
